/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	background-color:#EFE9E7 ;
}

.wrap{
	width: 850px;
	margin: 0 auto;
}


.menu{
	width: 220px;
	padding: 15px;
	float: left;
	font-family: 微軟正黑體;
}


.menu li{
	border-bottom: 2px solid brown;
}

.menu a{
  display:block;/*是block才能調高度*/
  padding: 5px 10px;
  color: brown;
  text-decoration: none;/*把底線拿掉*/
}

.menu li a:hover{
 	background: orange;
	color:white;
}

h1{
	font-size: 20px;
	padding-bottom: 15px;
}

.content{
	float: left;
	padding: 5px;
	width:550px;
	margin-top: 10px; 
}

img{
	text-align: center;
}


.item{
	margin: 1px;
	box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
	float: left;
	color:#800000;
	text-align: center;
	line-height: 20px;
	width: 180px;
	height: 280px;
	position: relative;
}

span{
	vertical-align : middle;
	color: #ff4500;
	border: solid;
	border-width: 1.5px;
	border-color: #ff4500; 
	border-radius:2px;
	text-align:center;
	font-family: 微軟正黑體;
	width: 150px;
	margin: 10px;
	font-size: 15px;
	line-height: 20px;
}

.box{
	width: 180px;
	height: 100px;
} 

.line{
	border: 0.5px brown solid;
    width: 90px; 
	margin: 0 auto;
}

.love{
	position: absolute;
	left: 3px;
	top: 3px;
	z-index: 10;
 }


.clear{
	 clear: both;
}

.line{


}